﻿@model mvc_assignment2.EmployeeProjectViewModel.EmployeeProjectViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <pre>
        Employee Id:@Model.employee.empId
        EMployee Name:@Model.employee.name
        Email:@Model.employee.email
        Mobile: @Model.employee.mobile
        Project Id:@Model.project
        Project Name:@Model.project.projName
        Project Cost:@Model.project.projCost
        Project Status:@Model.project.projStatus
        
    </pre>
</div>

